# OSX
#
.DS_Store
npm-debug.log
npm-debug.log*
coverage
.nyc_output
lerna-debug.log
node_modules
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
testgrounds
IntegrationTest
integration_test

# WebStorm
.idea
yarn-error.log
